$primary-color:  #BAB293;
$seconday-color: #A39770;
$tertiary-color: #EFE4BD;
$bold-color: #A32500;
$font-color: #2B2922;

body {
    color: $font-color;
}


/* Authentication Styling */
.auth-item {
    background-color: $bold-color;
}