body {
    color: $font-color;
}

/* Authentication Styling */
.auth-item {
    background-color: $bold-color;
}

.auth-info a {
    font-size: .75em !important;
    color: $primary-color;
}
/* End Authentication Styling */