@{
    ViewBag.Title = "Home Page";
}

<!-- outside of row to get full screen wrap -->
<div class="row">
    <img src="http://placehold.it/2000x400&text=[ img 1 ]" />
</div>

<hr />

<div class="row">
    <div class="small-12 medium-8 columns">
        <div class="panel">
            <h4>News!</h4>
            <p>Here's some news for ya!</p>
        </div>
    </div>

    <div class="small-12 medium-4 columns">
        <h4>Listing of Cigars</h4>
        @foreach (var item in Model)
        {
            <div>
                <h5>@item.Name</h5>
                <p>@item.Description</p>
                <hr />
            </div>
        }
    </div>
</div>